<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aleksey.khokhrin.ru.translator">

    <application
        tools:replace="android:name"
        android:name=".TranslatorDebugApplication" />

</manifest>